USE [master]
GO
/****** Object:  Database [DW_Sales]    Script Date: 18/10/2025 10:59:01 ******/
CREATE DATABASE [DW_Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_Sales', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DW_Sales.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_Sales_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DW_Sales_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_Sales]
GO
/****** Object:  Table [dbo].[DIM_Customer]    Script Date: 18/10/2025 10:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Customer](
	[idCustomer] [int] IDENTITY(1,1) NOT NULL,
	[cardCode] [nvarchar](50) NOT NULL,
	[cardName] [nvarchar](100) NOT NULL,
	[cardType] [char](1) NOT NULL,
	[country] [char](3) NOT NULL,
	[zone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_Customer] PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Product]    Script Date: 18/10/2025 10:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Product](
	[idProduct] [int] IDENTITY(1,1) NOT NULL,
	[itemCode] [nvarchar](50) NOT NULL,
	[itemName] [nvarchar](100) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[onHand] [int] NOT NULL,
	[avgPrice] [decimal](10, 2) NOT NULL,
	[cardCode] [nvarchar](10) NOT NULL,
	[whsCode] [nvarchar](10) NOT NULL,
	[whsName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DIM_Product] PRIMARY KEY CLUSTERED 
(
	[idProduct] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_SalesPerson]    Script Date: 18/10/2025 10:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_SalesPerson](
	[idSalesPerson] [int] NOT NULL,
	[slpCode] [int] NOT NULL,
	[slpName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_DIM_SalesPerson] PRIMARY KEY CLUSTERED 
(
	[idSalesPerson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_Time]    Script Date: 18/10/2025 10:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_Time](
	[idTime] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[day] [int] NOT NULL,
	[month] [nvarchar](50) NOT NULL,
	[year] [int] NOT NULL,
	[tipoCambio] [decimal](8, 2) NOT NULL,
	[numberMonth] [int] NOT NULL,
	[quarter] [int] NOT NULL,
 CONSTRAINT [PK_DIM_Time] PRIMARY KEY CLUSTERED 
(
	[idTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FACT_Sales]    Script Date: 18/10/2025 10:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_Sales](
	[idSales] [int] IDENTITY(1,1) NOT NULL,
	[idTime] [int] NOT NULL,
	[idCustomer] [int] NOT NULL,
	[idProduct] [int] NOT NULL,
	[idSalesPerson] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[docTotal] [decimal](30, 2) NOT NULL,
	[doctTotalFC] [decimal](30, 2) NOT NULL,
 CONSTRAINT [PK_FACT_Sales] PRIMARY KEY CLUSTERED 
(
	[idSales] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Customer] FOREIGN KEY([idCustomer])
REFERENCES [dbo].[DIM_Customer] ([idCustomer])
GO
ALTER TABLE [dbo].[FACT_Sales] CHECK CONSTRAINT [FK_FACT_Sales_DIM_Customer]
GO
ALTER TABLE [dbo].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Product] FOREIGN KEY([idProduct])
REFERENCES [dbo].[DIM_Product] ([idProduct])
GO
ALTER TABLE [dbo].[FACT_Sales] CHECK CONSTRAINT [FK_FACT_Sales_DIM_Product]
GO
ALTER TABLE [dbo].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_SalesPerson] FOREIGN KEY([idSalesPerson])
REFERENCES [dbo].[DIM_SalesPerson] ([idSalesPerson])
GO
ALTER TABLE [dbo].[FACT_Sales] CHECK CONSTRAINT [FK_FACT_Sales_DIM_SalesPerson]
GO
ALTER TABLE [dbo].[FACT_Sales]  WITH CHECK ADD  CONSTRAINT [FK_FACT_Sales_DIM_Time] FOREIGN KEY([idTime])
REFERENCES [dbo].[DIM_Time] ([idTime])
GO
ALTER TABLE [dbo].[FACT_Sales] CHECK CONSTRAINT [FK_FACT_Sales_DIM_Time]
GO
USE [master]
GO
